/*             Media styles here            */

@media (max-width: 767px) {
  .navlinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    top: 82px;
    right: 1px;
    height: 40vh;
    width: 60%;
    /* opacity: 0;
      visibility: hidden; */
    display: none;
  }

  .burger {
    display: block;
  }

  .about-page div h2 {
    font-size: 2.9rem;
  }

  video {
    height: 40vh;
  }

  .our-team-text h3 {
    font-size: 2.4rem;
  }

  .clients-page {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .our-team-grid {
    grid-template-columns: 1fr;
  }

  footer {
    height: 100vh;
    padding: 2rem 0;
  }

  .footer-container h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) and (max-width: 860px) {
  .header-paragraph h2 {
    font-size: 3.5rem;
  }

  .our-team-text h3 {
    font-size: 3.5rem;
  }
}

@media (max-width: 625px) {
  .header-paragraph h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 433px) {
  .header-paragraph h2 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .header-paragraph h2 {
    margin: 0 0 0.7rem 1rem;
  }

  .services-section div p {
    margin-left: 2rem;
  }

  .about-page-cover {
    margin-bottom: 6rem;
  }
}

@media (max-width: 390px) {
  .home-page h1 {
    line-height: 4.4rem;
  }
}

@media (min-width: 768px) and(max-width:950px) {
  footer {
    height: 100vh;
  }
  .footer-cont {
    gap: 5rem;
  }
}

@media (max-width: 950px) {
  .each-services-images img {
    width: 50%;
  }
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 900px) {
  .footer-cont {
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
  }

  .mg-3 {
    margin-bottom: 3rem;
  }

  .social-media-links a:not(:last-child) {
    margin-right: 2rem;
  }
}

@media (max-width: 1000px) {
  .footer-container h1 span {
    display: block;
  }

  .footer-container h1 a::before {
    left: 0px;
    bottom: 8px;
  }
}

@media (min-width: 2000px) {
  /*      about page styles 2000px     */

  .about-page div h2 {
    font-size: 4rem;
  }

  .about-page div p {
    font-size: 1.2rem;
  }

  /*      our team page styles 2000px     */

  .our-team-text h3 {
    font-size: 4rem;
    font-weight: 900;
  }

  .each-team h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
  }

  .each-team h5 {
    margin-bottom: 3.5rem;
    font-size: 1.1rem;
    font-weight: 400;
  }
}

@media (min-width: 3000px) {
  /*      about page styles 3000px     */

  .about-page div h2 {
    font-size: 4.5rem;
  }

  .about-page div p {
    font-size: 1.25rem;
  }

  /*      our team page styles 3000px     */

  .our-team-text h3 {
    font-size: 4.5rem;
    font-weight: 900;
  }

  .our-team-text p {
    font-size: 1.35rem;
    max-width: 600px;
    line-height: 1.5;
  }

  .each-team h4 {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: 900;
  }

  .each-team h5 {
    margin-bottom: 3.5rem;
    font-size: 1.3rem;
    font-weight: 400;
  }
}

/* @media only screen and (max-width: 767px) {
  .vid {
    margin-bottom: 6rem;
  }

  .vid h2 {
    margin: 0 0 0.7rem 1rem;
  }

  .services-section div p {
    margin-left: 1rem;
  }

  .each-services-images {
    margin-top: 4rem;
  }
} */
