/*      services page style START      */

.services-section {
  margin-bottom: 10rem;
}

.services-section-div {
  margin-bottom: 6rem;
}

.each-services-div {
  width: 100%;
  max-width: 2000px;
  position: relative;
  margin: 0 auto 4rem auto;
}

.video-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* z-index: 10; */
}

.each-services-div div h2 {
  font-size: 3.8rem;
  font-weight: 900;
  margin-bottom: 0.7rem;
}

.each-services-div div h2 div {
  background-color: white;
  /* border-top-right-radius: 100px; */
  padding: 0 3rem 0 2rem;
}

.each-services-images {
  display: inline;
}

.each-services-images img {
  width: 33.3%;
}

.video-text-divp {
  max-width: 2000px;
  margin: 0 auto;
}

.video-text-divp p {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 5rem;
  margin-left: 2rem;
  line-height: 1.5;
}

.each-service-span-text1 {
  display: block;
}

.each-service-span-text2 {
  display: block;
}

/*      services page style END      */
