/*      services page style START      */

.services-section {
  margin-bottom: 10rem;
}

video {
  height: 65vh;
  width: 100%;
  object-fit: cover;
  margin-top: 8rem;
  margin-bottom: 15rem;
  background: transparent;
  display: block;
  max-height: none;
  max-width: none;
  visibility: visible;
  position: static;
}

.vid .header-paragraph {
  position: absolute;
  bottom: -14rem;
}

.vid h2 {
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
  font-size: 3.8rem;
  font-weight: 900;
  margin: 0 0 0.7rem 2rem;
}

.header-paragraph p {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 5rem;
  margin-left: 3rem;
  line-height: 1.5;
}

.each-services-images {
  position: relative;
  display: inline;
}

.each-services-images img {
  width: 33.3%;
}

.each-service-span-text1 {
  display: block;
}

.each-service-span-text2 {
  display: block;
}

/*      services page style END      */
